SECRET_KEY=AC_JaTI5yaOg3cenIB3xHSG46OB95_bRL-B2_Mdo3zz_-e-LLLgPZeGGG8L9leq3
DATABASE_URL=postgresql+psycopg2://bys360_user:strong_password_only_for_gate@postgres.local:5432/bys360?sslmode=require
SENTRY_DSN=https://public@example.ingest.sentry.io/123456
SESSION_COOKIE_SECURE=true
REMEMBER_COOKIE_SECURE=true
WTF_CSRF_ENABLED=true
CSP_ENABLED=true
DEBUG=false
FLASK_DEBUG=0
